
#chatWindow {
    position: fixed;
	right: 0;		
	bottom: 0;	
    z-index: 9;        
    text-align: center;	
    visibility: hidden;    
	opacity: 0;
}

#chatWindowHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #212121;
    color: #efefef;
	
}

.chat_btn_div{
    position: fixed;
    right: 5%;
    bottom: 20%;
}